
main section img  {height: 400px ;
	object-fit:cover ;
	opacity: 0.8;
}

.description-section {
	background: greenyellow;
}
#first-image{width: 80%;}
.width-50
 {width:50%;}
 
 .bg-green{
 			background-color: #707070;
 			text-align: center;
 			letter-spacing: 10px:
 			
 		}


footer img {background-color: black;}